<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Team Section</title>
  </head>
  <body>
    <div class="team-title">
      <div class="team-title-left">Team member</div>

      <div class="team-title-right">
        <div class="add-team-button-container">
          <button class="add-team-button">Add team member</button>
        </div>
        <div class="viewall">View all</div>
      </div>
    </div>

    <div class="membercard-list">
      <app-membercard
        class="membercard"
        *ngFor="let employee of employees"
        [employee]="employee"
      ></app-membercard>
    </div>
  </body>
</html>
