.main-container {
  position: absolute;
  width: 100%;
  top: 160px;
  left: 115px;
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 50px;
  font-weight: 800;
}

.date-container {
  position: fixed;
  left: 90px;
  z-index: 2;
}

.search {
  position: fixed;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  top: -80px;
  left: 80px;
  z-index: 1;
  padding-right: 800px;
  padding-top: 300px;
  background-color: #e5e5e5;
}

.search-bar {
  border-radius: 50px;
}

.search-bar:focus {
  border: #23201f;
}

.search-input {
  height: 40px;
  width: 600px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  padding-left: 20px;
  font-size: 20px;
}

.search-input:focus {
  outline-color: black;
}

.searchButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 238px;
  left: 650px;
  z-index: 200;
}

.add-team-button-container {
  padding-right: 20px;
  position: fixed;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  top: 222px;
  left: 630px;
  z-index: 1;
}

.add-team-button {
  background: #f9b1a2;
  text-decoration: none;
  border: 2px solid #f9b1a2;
  border-radius: 30px;
  padding: 9px 22px;
  color: #23201f;
  font-size: 14px;
  font-weight: bold;
  margin-left: 80px;
  cursor: pointer;
}

.add-team-button:hover {
  border: 2px solid #23201f;
}

.projectcard-list {
  position: absolute;
  top: 120px;
  right: 200px;
  display: flex;
  justify-content: space-between;
  width: 1270px;
  flex-wrap: wrap;
  gap: -100px;
  z-index: -10;
}

.projectcard {
  width: 300px;
}
