<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Update</title>
  </head>
  <body>
    <div class="overlay" (click)="modalService.showEmployeeEdit = false"></div>

    <div class="modal-conatiner">
      <h2>Edit {{ modalService.editEmployee?.firstName }}</h2>
      <div class="x-icon">
        <fa-icon
          id="xicon"
          [icon]="faXmark"
          style="font-size: 20px"
          class="faxmark"
          (click)="modalService.showEmployeeEdit = false"
        ></fa-icon>
      </div>

      <form name="registrationForm" id="form" #editForm="ngForm">
        <div
          ngModel="{{ modalService.editEmployee?.id }}"
          type="hidden"
          name="id"
        ></div>

        <div class="input-control">
          <div id="firstName-error"></div>
          <div class="user-box">
            <input
              ngModel="{{ modalService.editEmployee?.firstName }}"
              type="text"
              name="firstName"
              required
              class="inputField firstNameField"
              id="firstNameId"
            />
            <label class="label firstNameLabel">First Name</label>
          </div>
        </div>

        <div class="input-control">
          <div id="lastName-error"></div>
          <div class="user-box">
            <input
              ngModel="{{ modalService.editEmployee?.lastName }}"
              type="text"
              name="lastName"
              required
              class="inputField lastNameField"
              id="lastNameId"
            />
            <label class="label lastNameLabel">Last Name</label>
          </div>
        </div>

        <div class="input-control">
          <div id="email-error"></div>
          <div class="user-box">
            <input
              ngModel="{{ modalService.editEmployee?.email }}"
              type="text"
              name="email"
              required
              class="inputField emailField"
              id="emailId"
            />
            <label class="label emailLabel">Email</label>
          </div>
        </div>

        <div class="input-control">
          <div id="jobTitle-error"></div>
          <div class="user-box">
            <input
              ngModel="{{ modalService.editEmployee?.jobTitle }}"
              type="text"
              name="jobTitle"
              required
              class="inputField jobTitleField"
              id="jobTitleId"
            />
            <label class="label jobTitleLabel">Job Title</label>
          </div>
        </div>

        <div class="input-control">
          <div id="salary-error"></div>
          <div class="user-box">
            <input
              ngModel="{{ modalService.editEmployee?.salary }}"
              type="text"
              name="salary"
              required
              class="inputField salaryField"
              id="salaryId"
            />
            <label class="label salaryLabel">Salary</label>
          </div>
        </div>

        <button
          class="submit-btn"
          role="button"
          type="submit"
          (click)="onUpdateEmployee(editForm.value)"
        >
          Edit
        </button>
      </form>
    </div>
  </body>
</html>
