<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Project Section</title>
    <script
      src="https://kit.fontawesome.com/053a77a1b2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="date-container">
      <p class="date">Today, {{ todayDate }} {{ todayMonth }}</p>
    </div>

    <div class="search">
      <button type="submit" class="searchButton">
        <fa-icon [icon]="faMagnifyingGlass" style="font-size: 20px"></fa-icon>
      </button>
      <div class="search-bar">
        <input
          class="search-input"
          type="text"
          placeholder="Search for project.."
        />
      </div>
    </div>

    <div class="project-title">
      <div class="project-title-left">Recent project</div>

      <div class="project-title-right">
        <div class="add-project-button-container">
          <button class="add-project-button">Add project</button>
        </div>
        <div class="viewall">View all</div>
      </div>
    </div>
  </body>
</html>
