<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Card</title>
  </head>
  <body>
    <div class="projectcard-container">
      <div class="projectcard-button">
        <fa-icon [icon]="faPen" style="font-size: 15px" class="fapen"></fa-icon>
        <fa-icon
          [icon]="faXmark"
          style="font-size: 20px"
          class="faxmark"
        ></fa-icon>
      </div>

      <div class="project-name">{{ project.projectName }}</div>
      <div class="project-deadline">Deadline: {{ project.deadline }}</div>
      <div class="project-details">{{ project.projectDetails }}</div>
      <div class="project-progress">Progress: {{ project.progress }}%</div>
      <div class="progressbar-container">
        <div
          class="progressbarvalue"
          style="width: {{ project.progress }}%;"
        ></div>
      </div>
    </div>
  </body>
</html>
