<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Update</title>
  </head>
  <body>
    <div class="overlay" (click)="modalService.showProjectEdit = false"></div>

    <div class="modal-conatiner">
      <h2>Edit Project</h2>
      <div class="x-icon">
        <fa-icon
          id="xicon"
          [icon]="faXmark"
          style="font-size: 20px"
          class="faxmark"
          (click)="modalService.showProjectEdit = false"
        ></fa-icon>
      </div>

      <form name="registrationForm" id="form" #editForm="ngForm">
        <div
          ngModel="{{ modalService.editProject?.id }}"
          type="hidden"
          name="id"
        ></div>
        <div class="input-control">
          <div id="firstName-error"></div>
          <div class="user-box">
            <input
              type="text"
              ngModel="{{ modalService.editProject?.projectName }}"
              name="projectName"
              required
              class="inputField firstNameField"
              id="firstNameId"
            />
            <label class="label firstNameLabel">Project Name</label>
          </div>
        </div>

        <div class="input-control">
          <div id="lastName-error"></div>
          <div class="user-box">
            <input
              ngModel="{{ modalService.editProject?.projectDetails }}"
              type="text"
              name="projectDetails"
              required
              class="inputField lastNameField"
              id="lastNameId"
            />
            <label class="label lastNameLabel">Project Details</label>
          </div>
        </div>

        <div class="input-control">
          <div id="email-error"></div>
          <div class="user-box">
            <input
              ngModel="{{ modalService.editProject?.progress }}"
              type="text"
              name="progress"
              required
              class="inputField emailField"
              id="emailId"
            />
            <label class="label emailLabel">Progress</label>
          </div>
        </div>

        <div class="input-control">
          <div id="jobTitle-error"></div>
          <div class="user-box">
            <input
              ngModel="{{ modalService.editProject?.deadline }}"
              type="text"
              name="deadline"
              required
              class="inputField jobTitleField"
              id="jobTitleId"
            />
            <label class="label jobTitleLabel">Deadline</label>
          </div>
        </div>

        <button
          class="submit-btn"
          role="button"
          type="submit"
          (click)="onUpdateProject(editForm.value)"
        >
          Edit
        </button>
      </form>
    </div>
  </body>
</html>
